//----------------------------------------- Colors

$color--main: #F36444;
$color--alternate:#FFCE6F;
$color--light: #FFE3C9; 
$color--white: #FFFFFF;
$color--accent: darkslateblue;

//----------------------------------------- Fonts

$font--main: Arvo, Helvetica, Arial, Sans-Serif;